<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edna.android.push.demo_x">

    <application tools:ignore="MissingApplicationIcon">

        <!-- remove all startup components -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <!-- remove only push-x startup component
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">
            <meta-data
                android:name="com.edna.android.push_x.PushXInitializer"
                tools:node="remove" />
        </provider> -->

        <meta-data
            android:name="com.pushserver.android.appId"
            android:value="${edna_app_id}" />

    </application>
</manifest>
